body {
  background-color: white;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  img {
    max-width: 90vw;
  }
}

#root {
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
